@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}



.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.about-us {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 90px 20px;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url("https://images.pexels.com/photos/1419946/pexels-photo-1419946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}

.pic {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.about {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text {
  width: 100%;
}

.text h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.text p {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.data {
  margin-top: 30px;
}

.hire {
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  transition: 0.5s;
}

.hire:hover {
  background: #000;
}

.spacer {
  padding: 10px;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 767px) {
  .menu-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #05070c;
    z-index: 999;
  }

  .menu-links.show-mobile-menu {
    display: flex;
  }

  .menu-links li {
    margin: 0;
    text-align: center;
  }

  .material-symbols-outlined {
    display: block;
  }
}
